{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock title %}

{% block header %}
  <li><a href={% url "index" %}>Home</a></li>
  <li><a href={% url "about" %}>About</a></li>
  <li><a href={% url "website" %}>Website</a></li>
  <li class="dropdown"><a href="#"><span>Web Apps</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
    <ul>
      <li><a href={% url "football" %}>Football Data</a></li>
      <li><a href={% url "cv_generator" %}>CV Generator</a></li>
      <li><a href={% url "crypto" %}>Crypto Analysis</a></li>
    </ul>
  </li>
  <li><a href={% url "contact" %}>Contact</a></li>
   <li><a href={% url "login" %}>Login</a></li>
{% endblock header %}

{% block content %}

  <main class="main">

    <section id="login-section" class="hero section text-center">

      <div class="login-wrapper" data-aos="fade-up">      
        <!-- Left: Login Form -->
        <div class="login-container">
          <h3>Password Reset Email Sent</h3>
          <p>If your email exists in our system, you will receive a link to reset your password.</p>
        </div>
        <!-- Right: User Silhouette Image -->
        <div class="image-container-login">
          <img src="{% static "images/password_email.png" %}" alt="User Silhouette">
        </div>
      </div>

    </section><!-- /Login Section -->

  </main>

{% endblock content %}
