{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block header %}
  <li><a href={% url "index" %}>Home</a></li>
  <li><a href={% url "about" %}>About</a></li>
  <li><a href={% url "website" %}>Website</a></li>
  <li class="dropdown"><a href="#"><span>Web Apps</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
    <ul>
      <li><a href="{% url "football" %}">Football Data</a></li>
      <li><a href={% url "cv_generator" %}>CV Generator</a></li>
      <li><a href="#">Third App</a></li>
      <li><a href="#">Fourth App</a></li>
    </ul>
  </li>
  <li><a href={% url "contact" %}>Contact</a></li>
   <li><a href={% url "login" %}>Login</a></li>
{% endblock header %}

{% block content %}

  <main class="main">

    <section id="login-section" class="hero section text-center">

      <div class="login-wrapper" data-aos="fade-up">      
        <!-- Left: Login Form -->
        <div class="login-container">
          <h2>Password Reset</h2>
          <form method="POST" action="#">
            {% csrf_token %}
            <div class="mb-3">
                <div class='form-control'>{{form.email}}</div>
            </div>

            <div class="mb-3">
                {% if form.email.errors %}
                <div class="text-danger">
                  {% for error in form.email.errors %}
                    <small>{{ error }}</small><br>
                  {% endfor %}
                </div>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-login">Submit</button>
          </form>
        </div>
        <!-- Right: User Silhouette Image -->
        <div class="image-container-login">
          <img src="{% static "images/reset-password.png" %}" alt="User Silhouette">
        </div>
      </div>

    </section><!-- /Login Section -->

  </main>

{% endblock content %}
