{% extends "base.html" %}
{% load static %}

{% block title %}Password Change{% endblock title %}

{% block header %}
<li><a href={% url "index" %}>Home</a></li>
<li><a href={% url "about" %}>About</a></li>
<li><a href={% url "website" %}>Website</a></li>
<li class="dropdown"><a href="#"><span>Web Apps</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
  <ul>
    <li><a href={% url "football" %}>Football Data</a></li>
    <li><a href={% url "cv_generator" %}>CV Generator</a></li>
    <li><a href={% url "crypto" %}>Crypto Analysis</a></li>
  </ul>
</li>
<li><a href={% url "contact" %}>Contact</a></li>
  {% if request.user.is_authenticated %}
    <li><a href={% url "edit_user" %}>My profile</a></li>
    <li><a href={% url "logout" %}>Logout</a></li>
  {% else %}
    <li><a href={% url "login" %}>Login</a></li>
  {% endif %}
{% endblock header %}

{% block content %}

  <main class="main">

    <section id="login-section" class="hero section text-center">

      <div class="login-wrapper" data-aos="fade-up">      
        <div class="login-container">
          <h2 class="mb-5">Password Change</h2>
          <form method="POST" action="#">
            {% csrf_token %}

            <div class="mb-3">
              <!--<div class='form-control'>{{form.old_password}}</div> -->
              <div class="input-group">
                <input type="password" name="old_password" id="id_old_password" class="form-control" placeholder="Enter Old Password">
                <button type="button" class="btn btn-outline-secondary" style='height:100%' onclick="togglePassword('id_old_password')">👁</button>
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="Enter New Password">
                <button type="button" class="btn btn-outline-secondary" style="height: 100%;" onclick="togglePassword('id_new_password1')">👁</button>
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="Confirm New Password">
                <button type="button" class="btn btn-outline-secondary" style="height: 100%;" onclick="togglePassword('id_new_password2')">👁</button>
              </div>
            </div>

            <div class="mb-3">
              {% if form.old_password.errors %}
              <div class="text-danger">
                {% for error in form.old_password.errors %}
                  <small>{{ error }}</small><br>
                {% endfor %}
              </div>
              {% endif %}

              {% if form.new_password1.errors %}
              <div class="text-danger">
                {% for error in form.new_password1.errors %}
                  <small>{{ error }}</small><br>
                {% endfor %}
              </div>
              {% endif %}

              {% if form.new_password2.errors %}
              <div class="text-danger">
                {% for error in form.new_password2.errors %}
                  <small>{{ error }}</small><br>
                {% endfor %}
              </div>
              {% endif %}
            </div>

            <button type="submit" class="btn btn-login">Submit</button>
          </form>

        </div>
        <!-- Right: User Silhouette Image -->
        <div class="image-container-login">
          <img src="{% static "images/password_change.png" %}" alt="User Silhouette">
        </div>
      </div>

    </section><!-- /Login Section -->

  </main>

<script>
  function togglePassword(fieldId) {
    var input = document.getElementById(fieldId);
    if (input.type === "password") {
        input.type = "text"; // Show password
    } else {
        input.type = "password"; // Hide password
    }
  }
</script>



{% endblock content %}


