{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block header %}
  <li><a href={% url "index" %}>Home</a></li>
  <li><a href={% url "about" %}>About</a></li>
  <li><a href={% url "website" %}>Website</a></li>

  <li class="dropdown"><a href="#"><span>Web Apps</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
    <ul>
      <li><a href={% url "football" %}>Football Data</a></li>
      <li><a href={% url "cv_generator" %}>CV Generator</a></li>
      <li><a href={% url "crypto" %}>Crypto Analysis</a></li>
    </ul>
  </li>
  <li><a href={% url "contact" %} class="active">Contact</a></li>
  {% if request.user.is_authenticated %}
    <li><a href={% url "edit_user" %}>My profile</a></li>
    <li><a href={% url "logout" %}>Logout</a></li>
  {% else %}
    <li><a href={% url "login" %}>Login</a></li>
  {% endif %}
  
{% endblock header %}

{% block content %}

  <main class="main">
    
    {% if messages %}
      <div class="container mt-3">
          {% for message in messages %}
              <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      </div>
    {% endif %} 

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>This page allows visitors to reach out for inquiries, collaboration or feedback.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-5">
            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                  <div>
                    <h3>Location</h3>
                    <p>Croatia, Rijeka 51000</p>
                  </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-whatsapp flex-shrink-0"></i>
                  <div>
                    <h3>WhatsApp</h3>
                    <p>+385 091 942 0314</p>
                  </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                    <h3>Email Me</h3>
                    <p><a href="mailto:lazarickristian@gmail.com" style="color:#444444;">lazarickristian@gmail.com</a></p>
                </div>
              </div><!-- End Info Item -->

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43599.51853184575!2d14.398145029160275!3d45.
                332305562413936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4764a12517aabe2d%3A0x373c6f383dcbb670!2sRijeka!
                5e0!3m2!1shr!2shr!4v1738326909090!5m2!1shr!2shr" frameborder="0" style="border:0; width: 100%; height: 325px;" allowfullscreen="" 
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-7">
            <form action={% url "contact" %} method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Your Name</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Message</label>
                  <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

{% endblock content %}