{% extends "base.html" %}
{% load static %}

{% block title %}Index-Kristian Portfolio{% endblock title %}

{% block header %}
  <li><a href={% url "index" %} class="active">Home</a></li>
  <li><a href={% url "about" %}>About</a></li>
  <li><a href={% url "website" %}>Website</a></li>
  <li class="dropdown"><a href="#"><span>Web Apps</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
    <ul>
      <li><a href={% url "football" %}>Football Data</a></li>
      <li><a href={% url "cv_generator" %}>CV Generator</a></li>
      <li><a href="#">Third App</a></li>
      <li><a href="#">Fourth App</a></li>
    </ul>
  </li>
  <li><a href={% url "contact" %}>Contact</a></li>
  {% if request.user.is_authenticated %}
    <li><a href={% url "edit_user" %}>My profile</a></li>
    <li><a href={% url "logout" %}>Logout</a></li>
  {% else %}
    <li><a href={% url "login" %}>Login</a></li>
  {% endif %}
  
{% endblock header %}

{% block content %}

  <main class="main">
    {% if messages %}
      <div class="container mt-3">
          {% for message in messages %}
              <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      </div>
    {% endif %} 
      <!-- Index Section -->
      <section id="hero" class="hero section">
        
        <div class="container">
          <img src="{% static "images/index_1.png" %}" alt="" data-aos="fade-in" >
        </div>
        <div class="container text-center" data-aos="zoom-out" data-aos-delay="200">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <h2>Kristian Lazarić</h2>
              <p>Beginner Python Developer</p>
              <a href={% url "about" %} class="btn-get-started">About Me</a>
            </div>
          </div>
        </div>
        <div class="container">
          <img src="{% static "images/index_2.png" %}" alt="" data-aos="fade-in" >
        
      </section><!-- /Index Section -->

  </main>

{% endblock content %}






